html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    background-color: #FAFAFA;
    padding: 0px 20px;
    margin: 0px;
}
h1{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}
h2{
    font-size: 16px;
    font-weight: 500;
}
p{
    max-width: 460px;
    margin: 20px auto;
    font-weight: 300;
    color: #8B8B8B;
}
svg{
    width: 60px;
    height: 2px;
    background-color: #407BFF;
}
.banner p{
    font-size: 13px;
    text-align: start;
    margin: 10px;
    font-weight: 400;
}
.tlacitka{
    display: flex;
    flex-direction: column;

}
a{
    display: inline-block;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 5px auto;
}
.dobro{
    background-color: #407BFF;
}
.plaz{
    background-color: #8B8B8B;
}
.banner{
    display: flex;
    background-color: white;
    margin: 20px auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    max-width: 460px;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.obr{
    width: 50px;
    height: 40px;
}
.box{
    margin: 60px 20px;
}

.traveler{
    max-width: 100%;
    height: auto;
}


@media screen and (min-width: 770px) {

    .panel{
        display: flex;
        gap: 20px;
    }
    p{
        max-width: 550px;
    }
    .banner{
        flex-basis: calc((100% - 40px) / 3);
        flex-direction: column; 
        padding: 40px 15px;
    }
    .banner p{
        text-align: center;
        margin: 0px;
    }
    .tlacitka{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    a{
        margin: 10px 0px;
    }
    .obr{
        width: 45px;
        height: 40px;
    }
    .traveler{
        width: 400px;
    }
}
@media screen and (min-width: 1100px) {
.box{
    margin:80px auto;
    max-width: 1040px;
}
.prvni{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
    align-items: center;
}
.uvod{
    flex-basis: calc((100% - 60px) / 2);
    max-width: 490px;
    text-align:start;
}
.kontejner{
    flex-basis: calc((100% - 60px) / 2);
    max-width: 490px;
    text-align:center;
}
.traveler{
    width: 425px;
}
p{
    margin: 20px 0px;
}
.tlacitka{
    justify-content: flex-start;
    gap: 20px;
}
.druhy{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.treti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    align-items: center;
}
.text{
    width: 430px;
    text-align: start;
}
.panel{
    width: 550px;
}
@media (prefers-color-scheme: dark){
    .plaz{
    background-color: #0797bf;
}
}














}