html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    background-color: #FAFAFA;
}
h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
h2{
    font-size: 16px;
    font-weight: 600;
}
p{
    max-width: 460px;
    margin: 20px auto;
    font-weight: 300;
    color: #8B8B8B;
}

svg{
    
    width: 60px;
    height: 2px;
    background-color: #407BFF;
}
.banner p{
    font-size: 13px;
    text-align: start;
    margin: 30px 20px 30px 0px;
}
a{
    display: inline-block;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 5px auto;
}
.dobro{
    background-color: #407BFF;
}
.plaz{
    background-color: #8B8B8B;
}
.banner{
    display: flex;
    background-color: white;
    margin: 20px auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    max-width: 460px;
    align-items: center;

}
.obr{
    width: 50px;
    height: 40px;
    margin: 20px;
}
.box{
    padding-top: 40px;
}
.treti{
    padding-bottom: 60px;
}

@media screen and (min-width: 770px) {

    .panel{
        display: flex;
        gap:20px;

    }
    .banner{
        flex-basis: calc((100% - 40px) / 3);
    }
}
